@model Data.Models.t_producthistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>t_producthistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.historyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.historyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productImageHistory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productImageHistory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productMainDescriptionHistory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productMainDescriptionHistory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productNameHistory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productNameHistory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productShortDescriptionHistory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productShortDescriptionHistory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantityAvailableHistory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantityAvailableHistory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sellerPriceHistory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sellerPriceHistory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subcategoryAdditionalValuesHistory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subcategoryAdditionalValuesHistory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_productId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_productId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.productHistoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
