@model IEnumerable<Data.Models.t_producthistory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.historyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productImageHistory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productMainDescriptionHistory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productNameHistory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productShortDescriptionHistory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantityAvailableHistory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sellerPriceHistory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subcategoryAdditionalValuesHistory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_productId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.historyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productImageHistory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productMainDescriptionHistory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productNameHistory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productShortDescriptionHistory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantityAvailableHistory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sellerPriceHistory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subcategoryAdditionalValuesHistory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_productId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.productHistoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.productHistoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.productHistoryId })
        </td>
    </tr>
}

</table>
