@model Data.Models.t_customizedads

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>t_customizedads</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customizedMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customizedMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.importanceScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.importanceScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isACustomizedMarketingAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isACustomizedMarketingAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isAPurchasedAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isAPurchasedAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_productId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_productId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.customizedAdsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
